{% extends "base.html" %}
{% block content %}

<h1>Movies</h1>

<div class="movie-grid">
    {% for movie in movies %}
        <div class="card">
           <div>
             {% if movie.poster %}
                <img src="{{ movie.poster.url }}" class="poster">
             {% else %}
                <img src="via.placeholder.com" class="poster">
             {% endif %}
           </div>
            <h3>{{ movie.title }}</h3>
            <p>{{ movie.release_year }}</p>
            <a class="btn" href="{% url 'movie-detail' movie.pk %}">View</a>
        </div>
    {% empty %}
        <p>No movies available.</p>
    {% endfor %}
</div>

  {% if is_paginated %}
   <div class="pagination">
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">« Prev</a>
    {% endif %}

    <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next »</a>
    {% endif %}
  </div>
{% endif %}

{% endblock %}
