<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block title %}
   <title>Document</title>
  {% endblock %}
</head>
<body>
  {% if user.is_authenticated %}
    <nav>
      <ul>
        <li><a href={% url 'homepage ' %}>Home</a></li>
        <li><a href={% url 'homepage ' %}>Profile</a></li>
        <li><a href={% url 'homepage ' %}></a>Search Movies</li>
        <li><a href={% url 'homepage ' %}></a>Review Movies</li>
        <li><a href={% url 'homepage ' %}></a>Logout</li>
      </ul>
    </nav>
  {% endif %}
  <main>
   {% block content %}
   {% endblock %}
  </main>
  <footer>
    <p>&copy; 2024 Django Blog</p>
  </footer>
</body>
</html>